.navbar-custom {
    background: orange;
    justify-content: space-between;
}


.container-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    height: auto;
}

.container-item {
    padding-bottom: 1em;
    text-align: center;
}

.cooming-soon {
    font-size: 12pt;
}

.font-custom {
    color: white;
}

.btn-green {
    background: #419744;
}

.btn-green:hover {
    background: #327434;
    color: white;
}

.btn-booking {
    background: #1f3975;
}

.btn-booking:hover {
    background: #101e3d;
    color: white;
}