:root {
    /* Paleta de cores */
    --default-color-yellow: #fde03a;
    --default-color-grey: #95969a;
}

.container-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    height: auto;
}

.container-item {
    padding-bottom: 0.5em;
    text-align: center;
}

.equips-custom {
    text-align: center;
}

.custom-text{
    margin-bottom: 0;
    padding-bottom: 0;
}

.cooming-soon {
    font-size: 12pt;
}

.font-custom {
    color: white;
}

.btn-green {
    background: #419744;
}

.btn-green:hover {
    background: #327434;
    color: white;
}

.btn-booking {
    background: #1f3975;
    margin-bottom: 1em;
}

.btn-booking:hover {
    background: #101e3d;
    color: white;
}

.list-custom {
    list-style-type: none;
    text-align: left;
}

.list-item-custom {
    font-size: 12pt;
}

.btn-custom {
    font-size: 9pt;
    margin-bottom: 1.5em;
}

.span-custom {
    font-size: 8pt;
    font-style: italic;
    margin-bottom: 0.5em;
}

.bg-yellow {
    background: var(--default-color-yellow);
}

.bg-gray {
    background: var(--default-color-grey);
}

.carousel-custom {
    text-align: left;
}

.img-carousel {
    height: 400px;
}

.carousel-box {
    margin-bottom: 5em;
}

.fa-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 30px;
    bottom: 30px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.fa-whatsapp:hover {
    background-color: #1da74f;
}

.my-float {
    margin-top: 5px;
}